@import url("https://fonts.googleapis.com/css2?family=Outfit:wght@100..900&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");

:root {
      --primary-bg-color: #ffffff;
}

* {
      margin: 0;
      padding: 0;
      box-sizing: border-box;
}

html,
body {
      height: 100%;
      width: 100%;
      overflow-x: hidden;
      font-family: "Outfit", sans-serif;
}

ul li {
      list-style: none;
}

input,
textarea,
button:focus {
      outline: none;
}

input,
textarea,
select,
button {
      width: 100%;
      padding: 15px;
      border: none;
      border-radius: 25px;
      background: #f4f5f7;
      font-family: "Outfit", sans-serif;
}

button {
      padding: 15px;
      border-radius: 25px;
      border: none;
      background: rgb(8, 116, 242);
      color: var(--primary-bg-color);
      cursor: pointer;
}

main {
      background: #f2f2f2;
      border-radius: 15px;
      max-width: 350px;
      margin: 50px auto;
      padding: 20px 0 50px 0;
}

.login {
      padding: 30px;
      text-align: center;
}

.login-image {
      border-top: 5px solid rgb(8, 116, 242);
      border-radius: 50%;
      width: 170px;
      height: 170px;
      margin: auto;
      padding: 25px;
}

.login-form {
      background: var(--primary-bg-color);
      padding: 25px;
      display: flex;
      flex-direction: column;
      justify-content: center;
      gap: 20px;
      border-radius: 10px;
      text-align: left;
}

.form-input {
      display: flex;
      flex-direction: column;
      gap: 10px;
}

.home {
      background: var(--primary-bg-color);
      padding: 50px 15px;
      border-radius: 0 0 20px 20px;
}

.header {
      display: flex;
      flex-direction: row;
      justify-content: space-between;
      align-items: center;
      padding: 15px 0px;
      border-bottom: 1px solid rgba(8, 8, 8, 0.5);
}

.header button {
      padding: 10px 20px;
      border: 1px solid rgba(8, 8, 8, 0.5);
      border-radius: 8px;
      background: var(--primary-bg-color);
      color: rgba(8, 8, 8, 0.5);
      cursor: pointer;
}

.header-brand {
      display: flex;
      flex-direction: row;
}

.header-brand figure img {
      width: 50px;
}

.balance {
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: start;
      text-align: start;
}

.home-text {
      padding: 30px 0px;
      display: flex;
      flex-direction: column;
      gap: 10px;
}

.home-text h1 {
      font-size: 1.5rem;
}

.home-text p {
      font-size: 1rem;
}

.finance-options {
      display: grid;
      grid-template-columns: repeat(3, 1fr);
      gap: 10px;
}

.option {
      border: 1px solid rgba(8, 8, 8, 0.5);
      border-radius: 10px;
      padding: 10px;
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      gap: 5px;
      font-size: 10px;
      text-align: center;
      height: 80px;
      cursor: pointer;
}

.add-money {
      display: none;
      margin: 0px 20px;
}

.add-money h1 {
      margin: 30px 20px;
      font-size: 18px;
}

.add-money-form {
      border-radius: 25px;
      padding: 1.5rem;
      background: var(--primary-bg-color);
      display: flex;
      flex-direction: column;
      gap: 1.25rem;
}

.select-bank,
.account-number,
.amount,
.add-money-pin {
      display: flex;
      flex-direction: column;
      gap: 10px;
}

.cash-out {
      display: none;
      margin: 0px 20px;
}

.cash-out h1 {
      margin: 30px 20px;
      font-size: 18px;
}

.cash-out-form {
      padding: 50px 30px;
      background: var(--primary-bg-color);
      border-radius: 25px;
      display: flex;
      flex-direction: column;
      gap: 20px;
}

.agent-number,
.cash-out-amount,
.cash-out-pin {
      display: flex;
      flex-direction: column;
      gap: 10px;
}

.transfer-money {
      margin: 0 20px;
      display: none;
}

.transfer-money h1 {
      margin: 30px 20px;
      font-size: 1.25rem;
}

.transfer-money-form {
      border-radius: 25px;
      padding: 1.5rem;
      background: var(--primary-bg-color);
      display: flex;
      flex-direction: column;
      gap: 1.25rem;
}

.user-number,
.transfer-amount,
.transfer-money-pin {
      display: flex;
      flex-direction: column;
      gap: 10px;
}

.get-bonus {
      margin: 0 20px;
}

.get-bonus h1 {
      margin: 30px 20px;
      font-size: 18px;
}

.bonus-form {
      display: flex;
      flex-direction: column;
      gap: 10px;
      background: var(--primary-bg-color);
      padding: 1.50rem;
      border-radius: 25px;
}

.get-bonus button {
      margin-top: 20px;
}


